<!DOCTYPE HTML>
<html>
  <head>
    <title>Ficha de ingreso</title>
     <meta charset="UTF-8">
    <style>
        /* estilo.css */
        @charset utf-8;
        table {
            border-collapse: collapse;
        }
        table.solid, table.solid td, table.solid th {border:1px solid black;}
        /*table{width:100%;border-collapse:collapse;font-size:12px;color:#4b4b4b}*/
    </style>
  </head>
  <body>
    <table style="width:100%">
        <tbody>
            <tr>
                <td style="width=60%">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                     <img src="logo.png" alt="logo.png" height="auto" width="200px"> 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Los Lúcumos poniente 640 Fono: 2233116<br />
                                    La Serena
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table class="solid">
                        <thead>
                            <tr>
                                <th>
                                    CANCELACION
                                </th>
                                <th>
                                    Boleta
                                </th>
                                <th>
                                    Factura
                                </th>
                                <th>
                                    Pos trans
                                </th>
                                <th>
                                    F.Exp
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Efectivo
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Tarjeta
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Transf./Depós
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Convenio
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Prepago
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="text-align: center;">
        FICHA DE INGRESO</br>
        CABAÑAS APART HOTEL</br>
        DE LA COSTA CABAÑAS
    </p>
    <table class="solid" style ="width:100%">
        <tbody>
            <tr>
                <td style="width:30%">
                    Nombre Pasajero
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td style="width:30%">
                    RUT
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td style="width:30%">
                    Dirección
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td style="width:30%">
                    Ciudad
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td style="width:30%">
                    Correo Electrónico
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td style="width:30%">
                    Celular
                </td>
                <td>
                </td>
            </tr>
            <tr style="width:100%; padding:0; border:0px solid white">
                <td colspan="2" style="width:100%; padding:0; border:0px solid white" >
                    <table class="solid" style="width:100%; padding:0; border:0px solid white">
                        <tbody>
                            <tr style="padding:0; border:0px solid white">
                                <td style="padding:0; border:0px solid white">
                                    Marca vehículo
                                </td>
                                <td style="padding:0; border:0px solid white">
                                </td>
                                <td style="padding:0; border:0px solid white">
                                    Color
                                </td>
                                <td style="padding:0; border:0px solid white">
                                </td>
                                <td style="padding:0; border:0px solid white">
                                    Patente
                                </td>
                                <td style="padding:0; border:0px solid white">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="text-align: center;">
        EMPRESA - DATOS FACTURACIÓN (solo eb caso de requerir factura)
    </p>
    <table class="solid" style="width:100%">
        <tbody>
            <tr>
                <td style="width:30%">
                    RAZÓN SOCIAL
                </td>
                <td>
                    
                </td>
            </tr>
            <tr>
                <td style="width:30%">
                    RUT EMPRESA
                </td>
                <td>
                    
                </td>
            </tr>
        </tbody>
    </table>
<br />
    <table class="solid" style ="width:100%">
        <tbody>
            <tr>
                <td style="width:30%">
                    CABAÑA
                </td>
                <td style="width:30%">
                </td>
            </tr>
            <tr>
                <td style="width:30%">
                    N° Personas alojadas
                </td>
                <td style="width:30%">
                </td>
            </tr>
            <tr>
                <td style="width:">
                    Valor 1 Noche
                </td>
                <td>
                    $
                </td>
                <td style="width:">
                    Abono
                </td>
                <td>
                    $
                </td>
            </tr>
            <tr>
                <td style="width:">
                    Total Noches
                </td>
                <td>
                    $
                </td>
                <td style="width:">
                    Saldo
                </td>
                <td>
                    $
                </td>
            </tr>
            <tr style="width:100%; padding:0; border:0px solid white">
                <td colspan="4" style="width:100%; padding:0; border:0px solid white" >
                    <table class="solid" style="width:100%; padding:0; border:0px solid white">
                        <tbody>
                            <tr style="padding:0; border:0px solid white">
                                <td style="padding:0; border:0px solid white">
                                    Forma de pago
                                </td>
                                <td style="padding:0; border:0px solid white">
                                    Efectivo: 
                                </td>
                                <td style="padding:0; border:0px solid white">
                                    <table class="solid"><tbody><tr><td>&nbsp&nbsp&nbsp</td></tr></tbody></table>
                                </td>
                                <td style="padding:0; border:0px solid white">
                                    Tarjeta:
                                </td>
                                <td style="padding:0; border:0px solid white">
                                    <table class="solid"><tbody><tr><td>&nbsp&nbsp&nbsp</td></tr></tbody></table>
                                </td>
                                <td style="padding:0; border:0px solid white">
                                    Marcar opción con una X
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <table class="solid" style ="width:100%">
        <tbody>
            <tr>
                <td style="width:30%">
                    Día Legada
                </td>
                <td>
                    &nbsp
                </td>
                <td style="width:30%">
                    Check in (ingreso)
                </td>
                <td>
                    &nbsp
                </td>
            </tr>
            <tr>
                <td style="width:30%">
                    Día Salida
                </td>
                <td>
                    &nbsp
                </td>
                <td style="width:30%">
                    Check out (salida)
                </td>
                <td>
                    &nbsp
                </td>
            </tr>
        </tbody>
    </table>
    <p style="text-align: center;">
        NORMAS INTERNAS DE CABAÑAS DE LA COSTA<br />
        Al firmar esta ficha el huésped acepta:
    </p>
    <p>
        <ul>
          <li>El huésped debe tomar conocimiento del <strong>Informativo de ingreso</strong> de la cabaña (cartel en sector cocina)</li>
          <li>Se aceptan visitas (personas que exceden el número de alojados) hasta las 23:00 hrs. Visitas en la cabaña después de las 23:00hrs. serán cobrados como huéspedes adicionales.</li>
          <li>Valor noche huésped adicional:$10.000</li>
          <li>Si en su cabaña se producen ruidos o conductas que le sean molestas a otros huéspedes, el complejo está facultado a slicitar el abandono del recinto sin reembolso de dinero.</li>
          <li>Cualquier daño o destrozo será cargado a su cuenta.</li>
          <li>Check in antes de las 07:00 am se cobra noche anterior. <strong>Check out pasado mediodía tiene cargo de 1 día adicional.</strong></li>
        </ul>
    </p>
  </body>
  <br />
  <table style ="width:100% ">
        <tbody>
            <tr>
                <td style="
    text-align:  center;
">
                    ________________________________________
                </td>
                <td style="
    text-align:  center;
">
                    ________________________________________
                </td>
            </tr>
            <tr>
                <td style="
    text-align:  center;
">
                     Firma Recepción
                </td>
                <td style="
    text-align:  center;
">
                     <strong>
                        Firma huésped previa lecturas normas
                    </strong>
                </td>
            </tr>
        </tbody>
    </table>

</html>


<!--

                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>

-->
