{% extends 'base.html' %}
{% load staticfiles %}
{% load common_tags %}
{% block titulo_head %}Lista de clientes{% endblock%}
{% block titulo%}{% endblock%}
{% block css %}
    {% css_dataTable %}
    <link href="{% static '/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css' %}" rel="stylesheet">
{% endblock %}
{% block contenido %}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <div style="position:relative">
                    <div style="position:absolute; top:-15px; left:95%;">
                        <a href="{% url 'cliente:agregar' %}">
                            <button id="boton_agregar" type="button" class="btn bg-indigo btn-circle-lg waves-effect waves-circle waves-float">
                                <i class="material-icons">add</i>
                            </button>
                        </a>
                    </div>
                </div>
                <h2>
                    Lista de clientes
                </h2>
            </div>
            <div id="container_tabla_cliente"class="body">
                {% div_dataTable 'tabla_cliente_id' %} 
            </div>
        </div>
    </div>
</div>



<!-- Modal edicioón cliente -->
<div class="modal fade" id="modal_edicion_cliente" cliente="0" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2><i class="material-icons">edit</i>Información de cliente
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                        </h2>
                    </div>
                    <div class="body">
                        <form id="form_validation" method="POST" novalidate="novalidate" onsubmit="return false;" >
                            <input name="id" required="" aria-required="true" type="text" hidden>
                            <input name="rut" required="" aria-required="true" type="text" hidden>
                            <input name="dv" required="" aria-required="true" type="text" hidden>
                            <div class="row clearfix">
                                <div class="col-md-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input class="form-control" name="nombres" required="" aria-required="true" type="text">
                                            <label class="form-label">Nombres</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input class="form-control" name="apellidos" required="" aria-required="true" type="text">
                                            <label class="form-label">Apellidos</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-4">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            
                                            <input class="form-control" name="rut_2" required="" aria-required="true" type="text" disabled>
                                            <label class="form-label">Rut</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input class="form-control" name="dv_2" required="" aria-required="true" type="text" disabled>
                                            <label class="form-label">DV</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input class="datepicker form-control" name="fecha_nacimiento" type="text">
                                    <label class="form-label">Fecha de nacimiento(Opcional)</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <input name="gender" id="male" class="with-gap" type="radio" value="HOMBRE">
                                <label for="male">Hombre</label>
                                <input name="gender" id="female" class="with-gap" type="radio" value="MUJER">
                                <label for="female" class="m-l-20">Mujer</label>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input class="form-control" name="email" required="" aria-required="true" type="email">
                                    <label class="form-label">Email</label>
                                </div>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input class="form-control" name="telefono" required="" aria-required="true" type="text">
                                    <label class="form-label">Teléfono</label>
                                </div>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input class="form-control" name="pais" required="" aria-required="true" type="text">
                                    <label class="form-label">País</label>
                                </div>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input class="form-control" name="ciudad" required="" aria-required="true" type="text">
                                    <label class="form-label">Ciudad</label>
                                </div>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input class="form-control" name="direccion" required="" aria-required="true" type="text">
                                    <label class="form-label">Dirección</label>
                                </div>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <textarea name="descripcion" cols="30" rows="5" class="form-control no-resize" aria-required="true"></textarea>
                                    <label class="form-label">Descripción</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="enviar_editar_cliente" class="btn btn-primary waves-effect" >Ingresar</button>
      </div>
    </div>
  </div>
</div>
<!-- ./ Modal edición cliente -->
<!-- Modal Log -->
<div class="modal fade" id="modal_log" cliente="0" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="width:80%">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2><i class="material-icons">info</i>Registro de cambios
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                        </h2>
                    </div>
                    <div id="container_tabla_log"class="body">
                        {% div_dataTable 'tabla_log_id' %}
<!--
                        <div class="table-responsive">
                          <table id="tabla_log" class="table responsive table-hover table-striped dataTable js-exportable"></table>
                        </div>
-->
                    </div>
                </div>
            </div>
        </div>
      </div>
      <!--
      <div class="modal-footer">
        <button id="enviar_editar_cliente" class="btn btn-primary waves-effect" >Ingresar</button>
      </div>
        -->
    </div>
  </div>
</div>
<!-- ./ Modal log -->
{% endblock %}


{% block scripts %}
{% js_dataTable True %}
<script src="{% static '/plugins/jquery-validation/jquery.validate.js' %}"></script>
<script src="{% static 'base/js/pages/forms/form-validation.js' %}"></script>
<script src="{% static '/plugins/momentjs/moment-with-locales.js' %}"></script>
<script src="{% static '/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js' %}"></script>

{% django_ajax %}
<script>
    var params_cliente = {
        id : 'tabla_cliente_id',
        url : "{% url 'cliente:lista-cliente-json' %}", 
        ajax: true,
        ajaxData : {'acciones':['log_cliente', 'pdf_ficha', 'editar_cliente', 'reserva_cliente']},
        setAllButtons:true,
      };
    var sparseTabla_cliente = $('#container_tabla_cliente').sparseDataTable(params_cliente);

    $(function () {
        $('.datepicker').bootstrapMaterialDatePicker({
            format: 'DD-MM-YYYY',
            clearButton: true,
            lang: 'es',
            weekStart: 1,
            time: false
        });
    });

    {% if imprimir_cliente %}
    ajaxCrearFicha({{imprimir_cliente}});
    {% endif %}
/*
    ajaxDataTablaCliente();
    function ajaxDataTablaCliente(){
        $.ajax({
            async:false,
            method: "POST",
            url: "{% url 'cliente:lista-cliente-json' %}",
            data: {}
        }).done(function( response ) {
            console.log(response);
            var params = {
                id: "tabla_cliente",
                ajaxData: {id: "tabla_cliente"},
                data: response.data,
                columnas: response.columnas,
                selector:'#container_tabla_cliente'
              };
            var sparseTabla = sparseDataTable.iniciar(params);
            
        }).fail(function(response) {
            console.log(response);
            alert( "Error en la petición");
        });
    }
*/

/*
    var params_2 = {
        url : "{% url 'cliente:log-json' %}", 
        data: {},
        ajaxData: {id: "tabla_log",cliente:'algun_cliente'},
        buttons:[],
        "paging": false,
        searching:false,
      };
    var sparseTabla_2 = sparseDataTable.iniciar(params_2);
    */


    // var params_log = {
    //     id : 'tabla_log_id',
    //     url : "{% url 'cliente:lista-cliente-json' %}",
    //     ajax: true,
    // };
    var sparseTabla_log = null;
    // var sparseTabla_log = $('#container_tabla_log').sparseDataTable(params_log);

    
    
    function ajaxDataLog(modelo, modelo_id){
        $.ajax({
            async:true,
            method: "POST",
            url: "{% url 'cliente:log-json' %}",
            data: {
                modelo:modelo,
                modelo_id:modelo_id
            }
        }).done(function( response ) {
            console.log(response);
            if (response.state == 'success'){
                if (response.data.length == 0 ){
                    swal({
                        title: "Información",
                        text: "No hay registros asociados.",
                        icon: "info"
                    });
                    return
                }
                var params_log = {
                    id:'tabla_log_id',
                    // clases:' content ',
                    data:response.data,
                    columnas:response.columnas,
                    "paging": false,
                    searching:false,
                    "autoWidht": false,
                }
                /*
                var params_2 = {
                    id: "tabla_log",
                    ajaxData: {
                        id: "tabla_log",
                    },
                    data: response.data,
                    columnas: response.columnas,
                    selector:'#container_tabla_log',
                    buttons:[],
                    "paging": true,
                    searching:false,
                };
                */
                if (sparseTabla_log == null)
                    sparseTabla_log = $("#container_tabla_log").sparseDataTable(params_log);
                else
                    sparseTabla_log.recargar(params_log);
                $('#modal_log').modal('toggle');
            }
            else 
                swal({
                    title: "Información",
                    text: response.messages[0].text,
                    icon: response.messages[0].state
                });

        }).fail(function(response) {
            console.log(response);
            swal({
                  title: "Servidor",
                  text: "Error en la petición",
                  icon: "error"
            });
        });
    }

    function ajaxCrearFicha(cliente){
        var data = {cliente:cliente};
        $.ajax({
            method: "POST",
            url: "{% url 'cliente:ficha-ingreso' %}",
            data: data
        }).done(function( response ) {
            console.log(response);
            if (response.state == 'success'){
                var docDefinition = { 
                    content: response.content,
                    styles: response.styles,
                    images: response.images
                };
                pdfMake.createPdf(docDefinition).open();
            }
            else
                swal({
                  title: "Información",
                  text: response.messages[0].text,
                  icon: response.messages[0].state
                });
        }).fail(function(response) {
            console.log(response);
            swal({
                  title: "Servidor",
                  text: "Error en la petición",
                  icon: "error"
            });
        });
    }


    function ajaxConsultarCliente (cliente){
        datos_ajax = {
            opcion:'CONSULTA',
            cliente:cliente
        };
        var data = {
            'datos': JSON.stringify(datos_ajax)
        };
        $.ajax({
            method: "POST",
            url: "{% url 'cliente:gestion-cliente-json' %}",
            data: data
        }).done(function( response ) {
            console.log(response);
            if (response.state == 'success'){
                $('input[name=id]').val(response.cliente.id);
                $('input[name=nombres]').val(response.cliente.nombres);
                $('input[name=apellidos]').val(response.cliente.apellidos);
                $('input[name=rut]').val(response.cliente.rut);
                $('input[name=dv]').val(response.cliente.digito_verificador);
                $('input[name=rut_2]').val(response.cliente.rut);
                $('input[name=dv_2]').val(response.cliente.digito_verificador);
                $('input[name=gender][value='+response.cliente.sexo+']').prop('checked', true);
                $('input[name=fecha_nacimiento]').val(response.cliente.fecha_nacimiento);
                $('input[name=email]').val(response.cliente.email);
                $('input[name=telefono]').val(response.cliente.telefono);
                $('input[name=pais]').val(response.cliente.pais);
                $('input[name=ciudad]').val(response.cliente.ciudad);
                $('input[name=direccion]').val(response.cliente.direccion);
                $('textarea[name=descripcion]').val(response.cliente.descripcion);
                form_validation.valid();
            }
            else
                swal({
                  title: "Mensaje",
                  text: response.messages[0].text,
                  icon: response.messages[0].type,
                });
        }).fail(function(response) {
            console.log(response);
            swal({
                  title: "Servidor",
                  text: "Error en la petición",
                  icon: "error",
            });
        });
    }

    function ajaxEditarCliente (){
        blockpage(true)
        var form_data = $('#form_validation').serializeArray().reduce(function(obj, item) {
            obj[item.name] = item.value;
            return obj;
        }, {});
        datos_ajax = {
            opcion:'EDICION',
            data:form_data
        };
        var data = {
            'datos': JSON.stringify(datos_ajax)
        };
        $.ajax({
            method: "POST",
            url: "{% url 'cliente:gestion-cliente-json' %}",
            data: data
        }).done(function( response ) {
            console.log(response);
            if (response.state == 'success'){
                $('#modal_edicion_cliente').modal('toggle');
                sparseTabla_cliente.recargar(params_cliente);
                swal({
                      title: "Cliente",
                      text: "Cliente editado correctamente.",
                      icon: "success",
                });
                blockpage(false)
                //location.reload();
                //irAURL('{% url 'accounts:index' %}');
            }
            else
                swal({
                  title: "Mensaje",
                  text: response.messages[0].text,
                  icon: response.messages[0].type,
                });
        }).fail(function(response) {
            console.log(response);
            swal({
                  title: "Servidor",
                  text: "Error en la petición",
                  icon: "error",
            });
            blockpage(false)
        });
    }

    //Evento imprimir ficha
    $(document).on('click',"button[name=pdf_ficha]" ,function() {
            ajaxCrearFicha($(this).attr('cliente'))
        }
    );

    //Evento editar cliente
    $(document).on('click',"button[name=editar_cliente]" ,function() {
            cliente = $(this).attr('cliente')
            $('#modal_edicion_cliente').attr('cliente',cliente)
            $('#modal_edicion_cliente').modal('toggle');
        }
    );

    //Modal edición cliente
    $('#modal_edicion_cliente').on('show.bs.modal', function (e) {
        ajaxConsultarCliente (cliente);
        console.log(this);
    })
    

    //Evento ver log
    $(document).on('click',"button[name=log]" ,function() {
            var cliente = $(this).attr('cliente')
            ajaxDataLog('cliente',cliente);
        }
    );

    //Modal log
    $('#modal_log').on('show.bs.modal', function (e) {
        
        
    })

    //botón editar cliente
    $( "#enviar_editar_cliente" ).on( "click", function(e){
        form_validation.valid()
        setTimeout(function(){ 
            if (form_validation.valid() && $('label[class=error]').length == 0)
                ajaxEditarCliente();
        }, 10); 
        
    });

    </script>


{% endblock %}